body,
html {
  background-image: url("apidata.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
table {
  background-color: burlywood;
  position: relative;
  left: 1100px;
  top: 200px;
}